<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Flashy</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <div class="maincontainer">
      <ul>
        <li><span class="arrow arrow-top"></span></li>
      </ul>
      <div class="card">
        <div class="front">
          <h1>Question</h1>
          <p> What is the speed of light?</p>
        </div>
        <div class="back">
          <h1>Answer</h1>
          <p> The speed of light is 3x10^8!</p>
        </div>
      </div>
      <ul>
        <li><span class="arrow arrow-bottom"></span></li>
      </ul>
    </div>
  </body>
</html>
