{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cards/style.css' %}">

<div class="maincontainer">
  <ul>
    <a href="{% url 'cards:card' set.id prev_id %}">
      <li><span class="arrow arrow-top"></span></li>
    </a>
  </ul>
  <div class="card">
    <div class="front">
      <h1>Question</h1>
      <p>{{ card.question_text }}</p>
    </div>
    <div class="back">
      <h1>Answer</h1>
      <p>{{ card.answer_text }}</p>
    </div>
  </div>
  <ul>
    <a href="{% url 'cards:card' set.id next_id %}">
      <li><span class="arrow arrow-bottom"></span></li>
    </a>
  </ul>
</div>
