{% extends "cards/base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
{% if cards_set_list %}
<p><h1>Cards you can Practice</h1></p>
<ul>
    {% for set in cards_set_list %}
    <!--TODO add private logic for user-->
    {% if set.private == False %}
    <li>
        <h2>
            <a href="{% url 'cards:setIndex' set.id %}">{{ set.set_name }}</a>
        </h2>
        <h4 class='description'>{{ set.description }}</h4>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>No cards are available.</p>
{% endif %}
<a href="{% url 'cards:newSet' %}">
    <button class="btn btn-primary">Add New Flashcard Set</button>
</a>
<a href="{% url 'cards:delSet' %}">
    <button class="btn btn-primary">Remove Flashcard Set</button>
</a>
{% endblock %}
